@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

.gugiFont {
  font-family: 'Gugi', sans-serif;
  font-size: clamp(16px, 8vw, 60px);
}

.subHeader1 {
  margin-top: 20px;
}

.subHeader2 {
  margin-bottom: 20px;
}

.ichanImg {
  width: 100%;
}

.name {
  margin-top: 20px;
}

.parents {
  display: flex;
  margin-top: 10px;
}

.place {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.place > p:nth-child(2) {
  margin-top: 10px;
}
