.navigation {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 1em;
  background-color: RGB(238, 231, 163, 0.7);
  margin-top: 40px;
  color: black;
}
.navigation > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-weight: bold;
  border-right: 2px solid pink;
}

.navigation > div:last-child {
  border: none;
}
