.container {
  width: 100%;
  min-width: 300px;
  display: flex;
  justify-content: center;
  font-size: clamp(12px, 5vw, 30px);
}

.wrapper {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 100%;
  border-top: 1px solid pink;
  margin-top: 50px;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}
